
_build/
private/*
!private/README.md
/jm-templates/exam/server/*
!jm-templates/exam/server/README.md
/overlay/_static/*-exercises.zip
/overlay/_static/*-challenge.zip

/overlay/_static/project-template.zip


# Example exam

past-exams/2000-12-31/
past-exams/2000-12-31.zip


exercises/computer-vision/results/



##### PYTHON
*.pyc
__pycache__
nbsphinx.egg-info/
.ipynb_checkpoints

##### OS RELATED
*~
\#*#
*.DS_Store
*.class
.com.apple.timemachine.supported
.import-temp/

##### VSCODE
.vscode


##### INTELLIJ

*.iml
.idea


##### NETBEANS

nbproject/private/
build/
nbbuild/
dist/
nbdist/


##### ECLIPSE 

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

