# here go packages only needed during documentation build
sphinx==2.3.1
tornado==4.5.3
ipykernel==4.6.1
nbsphinx==0.7.1
arghandler==1.2.0
recommonmark==0.6.0
sphinx_rtd_theme==0.5.2
pylatexenc==2.1
pathspec==0.7.0
readthedocs-sphinx-ext==1.0.4
pygments==2.7.1
jinja2==2.11.3