


{% block breadcrumbs %}
     <!-- <li> <h2 style="background-color:red; color:yellow">WARNING! THIS VERSION IS OLD !  <br/>
    <a style=" text-decoration: underline;" href="https://jupman.readthedocs.io/en/latest">GOT TO LATEST VERSION</a></li>
 </h2></li>-->
    <!-- Commented because doesn't work with sections,
         see https://github.com/DavidLeoni/jupman/issues/39
    <li><a href="{{ pathto(master_doc) }}">{{ _('Docs') }}</a> &raquo;</li>
    {% for doc in parents %}
        <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
    {% endfor %}
    <li>{{ title }}</li>
    -->
{% endblock %}