
/** ONLY AVAILABLE IN THE WEBSITE */


/* Makes visible the '+' boxes in menu
  https://github.com/DavidLeoni/jupman/issues/38    
*/    

li.toctree-l1 > a > .toctree-expand {
    color: white !important;
}


/* Fixes for https://github.com/DavidLeoni/jupman/issues/17 */
 

/* too much output  */
div.output_area.docutils.container:not(.rendered_html){ 
    
    max-height:600px !important;
}

#jupman-langs {    
    float: right;
    margin-right: -10px;
    margin-top: -22px;
 }
 
@media screen and (min-width:1100px) { /* min-width as in rtd theme */
    
    #jupman-langs {     
        margin-right: -28px;
    }
}
/* Fix for centered images
   https://github.com/DavidLeoni/jupman/issues/52 
   */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Related to centered images 
   https://github.com/DavidLeoni/jupman/issues/52 
*/
.jupman-inline-img {
    display: inline;
}


.jupman-sol {    
    background-color:#f3faff !important;  /* lighter than admonition */;
    border-color: #ede4f4 !important;
    border-style: solid !important;
    
}

.jupman-sol-question {
    margin-bottom: 20px;
}

.jupman-sol-toggler {
    margin-bottom: 20px !important;
    text-decoration: none; 
    display:table;
    padding:5px !important; 
    color: inherit;
}

.jupman-sol-content {
    margin-bottom: 30px !important;
    margin-top: -22px !important;
    padding:7px !important; 
    box-sizing:content-box;  /*prevents jupmping (to some degree)  https://stackoverflow.com/a/32769057 */
}

.jupman-sol-hidden {
    display: 'none';
}

.jupman-sol-visible {
    display: block;
}

.jupman-toggler {
    text-decoration: none; 
    display:block;
}
