

/* Fixing menu clicks for https://github.com/DavidLeoni/jupman/issues/38    */    

li.toctree-l1 > a > .toctree-expand {
    color: white !important;
}



/* What follows is optional eye-candy */
.wy-nav-content {
    background: #f9f8f3;
 }


 .wy-side-nav-search, .wy-nav-top {
   background-color: #3a968f;
 }


 .wy-nav-side {
   background-color: #343d2d 
 }

/* Fixes for https://github.com/DavidLeoni/jupman/issues/17 */
 
/* Fixes code overflow */
div.input_area  {
    overflow:visible !important
}

/* Fixes too much output  */
div.output_area.docutils.container:not(.rendered_html){ 
    
    max-height:600px !important;
}
